<header>
    <nav>
        <div class="logo">
            <a href="/index.html">
                <img src="/img/hefquin-logo.png" class="logo-icon" alt="HeFQUIN logo">
                HeFQUIN
            </a>
        </div>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <ul class="nav-links">
            <li><a href="{{ relPath }}index.html">Home</a></li>
            <li><a href="{{ relPath }}doc">Docs</a></li>
            <li><a href="{{ relPath }}research">Research</a></li>
            <li><a href="{{ relPath }}vocab">Vocabularies</a></li>
            <li><a href="{{ relPath }}javadoc/latest">Javadoc</a></li>
            <li><a href="{{ relPath }}devdoc">Contribute</a></li>
            <li><a href="https://github.com/LiUSemWeb/HeFQUIN">GitHub</a></li>
        </ul>
    </nav>
</header>
